@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
    height: 1000px;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 15px;
}

/* This contains everything and is used to place nav bar at bottom of page, probably uneccessary div element */
/*this has now been removed*/
/*
.super-nav {
    border: 5px solid blue;
    width: 800px;
    height: auto;
    
}
*/

/*invisible container of this taskbar*/ /*this basically decides where the nav bar sits on the page*/
nav {
    /* border: 2px solid red; */
    margin: 0px 0px 20px 0px;
    width: 700px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;

    /* Centering of super div at bottom of page */
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);
    z-index: 1;

}

/*The actual thing that holds everything in it*/
.nav-rect {
    width: 550px;
    height: 70px;
    background-color: white;
    border: 2px solid black;
    border-radius: 35px;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    position: relative;
    list-style: none;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    
}

.pill-1, .pill-2, .pill-3, .pill-4 {
    position: relative;
    width: 80px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid black;

}

.circle {
    /* border: 2px solid red; */
    position: relative;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    /* border: 2px solid red; */
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

}

.nav-bar-links {
    /* border: 2px red solid; */
    color: black;
    text-decoration: none;
}

img {
    /* border: 2px solid red; */
    width: 98px;
    height: auto;
    display: flex;
}



/* Title Section */

.title {
    /* border: 2px solid red; */
    margin-top: 100px;
    width: 100%;
    max-width: 1536px;
    /*position: absolute; */

    display: flex;
    justify-content: space-between; /* Even space between text and image */
    align-items: center; 
}

.span-biranavan {
    color: black;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke: 1px black;
}

.emoji-size {
    /* font-variant-emoji: ; */
    font-size: 55px;
}


.text-container {
    /* border: 2px dashed green; */
    padding: 50px 75px 50px 50px;
    margin: 50px 50px 50px 150px;
}

.title h1,h2 {
    font-size: 50px;
    position: relative;
    justify-content: flex-start;
    white-space: nowrap;
}

h2 {
    margin-top: -10px;
}

/* Blob within title section */

.blob { /*this overflows in x slighlty but it also doesnt do anything so ok to remove*/
    /* border: 2px solid rgb(255, 179, 0);  */
    overflow-x: hidden;
    display: flex;
    flex-wrap: nowrap;
}

.blob-img {
    position: relative;
    /* border: 2px dashed blue; */
    width: 500px;
    height: auto;
    padding: 50px 50px 50px 0px;
    margin: 100px 150px 0px -65px;

}

.eye {
    height: 100px;
    width: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 5px solid black;
    position: relative;
    transform: translate(25%, -250%);
    display: inline-block; 

}

.pupil {
    height: 35px;
    width: 35px;
    margin-top: 50px;
    margin-left: 30px;
    background-color: #000000;
    border-radius: 50%;
    position: relative;
    display: inline-block; 
    
}


/* About me section */

.about-me {
    width: 100%;
    max-width: 1536px;
    height: auto;
    /* border: 2px dashed red; */
    position: relative;
    margin: 200px 0px 0px 0px;
}

.about-text {
    /* border: 2px solid blue; */
    font-size: 50px;
    text-align: justify;
    padding: 200px;

    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

/* Projects Section */

.projects-title {
    /* border: 2px solid red; */
    width: 90%;
    max-width: 1536px;
    height: 70px;
    margin-inline: auto;
    margin: 200px 0px 0px 0px; /*chaange bottom margins later!!*/
    position: relative; 
    overflow: hidden;

    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 90%,
        rgba(0,0,0,0)
    );
}

@keyframes scroll-title {
    to {
        left: -450px;
    }
}

.title_image {
    /* border: 2px solid green; */
    width: auto;
    height: auto;
    position: absolute;

    left: calc(450px * 8);
    animation-name: scroll-title;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.img-proj {
    width: auto;
    height: 60px;
}

.proj1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1); /**/
    /* border: 2px dashed blue; */
}

.proj2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);/**/
    /* border: 2px dashed rgb(0, 0, 0); */
}

.proj3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
    /* border: 5px solid rgb(121, 0, 155); */
}

.proj4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);/**/
    /* border: 2px dashed cyan; */
}

.proj5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);/**/
    /* border: 2px dashed red; */
}

.proj6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
    /* border: 2px solid rgb(50, 45, 63); */
}

.proj7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);/**/
    /* border: 2px dashed pink; */
}

.proj8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);/**/
    /* border: 2px dashed green; */
}

.temp-title {
    text-align: center;
    font-size: 50px;
}

.projects {
    /* border: 2px solid blue; */
    width: 100%;
    max-width: 1536px;
    height: auto;
    margin: 0px 0px 0px 0px;

    display: flex;
    justify-content: center;
    align-items: center; /*can also put flex-start/center here, which ever one is here already*/
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px 0px 50px 0px;
    
}

.proj-1, .proj-2, .proj-3, .proj-4, .proj-5 {
    width: 450px;
    height: 550px;
    border: 2px solid black;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.project-image1, .project-image2, .project-image3, .project-image4 {
    /* border: 2px solid red; */
    width: 420px;
    height: auto;
}

.projbox-title {
    /* border: 2px solid blue; */
    font-size: 24px;
    margin-top: 5px;
}

.proj-list {
    /* border: 2px solid rgb(255, 0, 0); */
    width: 95%;
    height: auto;
    padding: 0px 5px 25px 5px;
    
    display: flex;
    flex-direction: column;
}

.proj-list-element {
    /* border: 2px dashed green; */
    margin: 0px 0px -10px 0px;
    text-align: justify;  
}

.skills-container {
    width: 95%;
    height: 45px;
    margin: 5px 0px 0px 0px;
    /* border: 2px solid rgb(64, 255, 0); */

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.white-out-text {
    color: white;
}

.skills-rect1, .skills-rect2, .skills-rect3, .skills-rect4 {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(226, 226, 226);
    font-weight: 550;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#rect3, #rect4 {
    background-color: white;
}

.links-container {
    width: 95%;
    height: 50px;
    /* border: 2px solid red; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Git-Link, .Web-Link {
    width: 150px;
    height: 40px;
    border-radius: 9px;
    background-color: black;
    margin: 0px 30px 0px 30px;

    display: flex;
    align-items: center;
    gap: 10px;
}

#Web-Link-over-ride {
    background-color: white;
}

.git-image {
    width: 40px;
    height: auto;
    border-radius: 50px;
    margin: 1px 0px 0px 0px;
}

.web-image {
    width: 40px;
    height: auto;
    border-radius: 50px;
    margin: 1px 0px 0px 0px;
}

.link-text {
    color: white;
}

.links-box {
    /* border: 2px dashed orange; */
    text-decoration: none;
}


/* More Information Section */

.more {
    /* border: 2px solid green; */
    width: 90%;
    max-width: 1536px;
    margin: 200px 0px 0px 0px ;
    height: 70px;
    position: relative; 
    overflow: hidden;

    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 90%,
        rgba(0,0,0,0)
    );
}

@keyframes scroll-more {
    to {
        left: -800px;
    }
}

.more-image {
    /* border: 2px solid rgb(255, 0, 0); */
    width: auto;
    height: auto;
    position: absolute;

    left: calc(800px * 8);
    animation-name: scroll-more;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.more-img {
    width: auto;
    height: 65px;
}

.more1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.more2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.more3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.more4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.more5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.more6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.more7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.more8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

.more-info {
    /* border: 2px solid red; */
    width: 100%;
    max-width: 1536px;
    height: 500px;
    margin: 5px 0px 0px 0px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.bento-grid {
    /* border: 5px solid rgb(248, 8, 212);  */
    width: 1200px;
    height: 400px;
    display: flex;

}

.col-1 {
    /*border: 2px dashed blue;*/
    width: 522px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.col-2 {
    /*border: 2px dashed blue;*/
    width: 783px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

}

.bento-1 {
    border: 2px solid black;
    border-radius: 15px;
    width: 490px;
    height: 255px;
    box-sizing: border-box;

}

.bento-2 {
    border: 2px solid black;
    border-radius: 15px;
    width: 490px;
    height: 125px;
    box-sizing: border-box;

}

.bento-3 {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    width: 680px;
    height: 170px;
    box-sizing: border-box;

}

.bento-4 {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    width: 680px;
    height: 210px;
    box-sizing: border-box;

}

.bento-h3 {
    padding: 5px 0px 0px 5px;

}

.bento-ul {
    /* border: 2px dashed rgb(17, 255, 0); */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.bento-li {
    /* border: 2px solid red; */
    width: 100%;
    height: auto;
    text-align: left;
    overflow-wrap: break-word;
    box-sizing: border-box;
    
}

.work-date {
    text-align: end;

}

.centering-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-width: 300px;
    
}

.bento-skills-container {
    width: 95%;
    height: 80px;
    /* border: 2px dashed blueviolet; */

    display: flex;
    justify-content: space-evenly;

}

.bento-skills {
    width: 86px;
    height: 86px;
    background-color: rgb(226, 226, 226);
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    
}

.skill3, .skill4 {
    font-size: 12px;
}

.skill5 {
    font-size: 15px;
}

.bento-skills-container2 {
    width: 95%;
    height: 80px;
    /* border: 2px dashed green; */

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 40px;
    margin-top: 12px;
}

.bento-skills-minor {
    width: 90px;
    height: 35px;
    background-color: rgb(226, 226, 226);
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;

}

.cert-span {
    font-weight: 600;
    text-align: justify;
}

.cert-p {
    padding: 0px 0px 0px 5px;
}

.education-p {
    padding: 0px 0px 0px 5px ;
    font-size: 12px;
}

.span-kent {
    font-size: 16px;
    font-weight: 600;
}

.span-school {
    font-size: 12px;
    font-weight: 450;
}
/* Just to add some more space for website */
footer {
    border: 5px solid rgb(255, 255, 255);
    width: 100%;
    height: 150px;
}
